<span class="icon" role="img" aria-label="{{ label|default('') }}" style="--icon-size: {{ size|default('24px') }};">
  <svg width="{{ size|default('24px') }}" height="{{ size|default('24px') }}" aria-hidden="true"><use href="{{ sprite|default('/icons-defs.svg') }}#{{ id }}"/></svg>
</span>
